@model LonghornBank.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionID)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.TypeOfTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTransaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerComments)
        </dd>

    </dl>
</div>

<h4>Last 5 Similar Transactions</h4>
<div>
    @{ Html.RenderAction("Similar", new { id = ViewBag.DetailID }); }
</div>
