@using LonghornBank.Controllers
@using LonghornBank.Models
@model LonghornBank.Models.Transaction


@{
    ViewBag.Title = "Index";
}

<h2>Account Status</h2>

<br /> <br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                Choose an Account: <br />@Html.DropDownList("SelectedAccount", (SelectList)ViewBag.AllAccounts, new { @class = "form-control" }) <br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Account Selected:
                <br />@Html.RadioButton("Status", Enabled.Yes, true, new { @class = "form-check-input" }) Enable <br />
                <br />@Html.RadioButton("Status", Enabled.No, true, new { @class = "form-check-input" }) Disabled
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Status" class="btn btn-default" />
            </div>
        </div>
    </div>
}