@model IEnumerable<LonghornBank.Models.Pending>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PendingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PendingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PendingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PendingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PendingID })
        </td>
    </tr>
}

</table>
